* {
    font-family: Arial, 'Hiragino Sans GB', 冬青黑, 'Microsoft YaHei', 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, 'Arial sans-serif';
}

a:hover {
    cursor: pointer;
}

.container-fluid {
    padding: 0;
}

.expecial {
    width: 100%;
    padding: 0;
    margin-top: -22px;
}

.jumbotron {
    background: #597289;
    padding: 30px;
}

.jumbotron .row div {
    color: #fff;
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0;
}

article {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    padding: 10px 0 0 0;
    position: relative;
}

article h1.title {
    color: #333;
    font-size: 2em;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 25px;
}

article .entry-content {
    color: #444;
    font-size: 16px;
    font-family: Arial, 'Hiragino Sans GB', 冬青黑, 'Microsoft YaHei', 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, 'Arial sans-serif';
    -webkit-font-smoothing: antialiased;
    line-height: 1.8;
    word-wrap: break-word;
}

.color-grey {
    padding-right: 10px;
    color: #9C9C9C;
}

.comment:hover {
    color: #9C9C9C;
    text-decoration: none;
}

.blog-content {
    line-height: 2;
}

.article-blog {
    font-family: Arial, 'Hiragino Sans GB', 冬青黑, 'Microsoft YaHei', 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, 'Arial sans-serif';
    line-height: 2;
    font-size: 16px;
}

.single-article-author {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

.padding-right-10 {
    padding-right: 5px;
}

.single-page-back {
    background: #fff;
    margin-top: 50px;
    padding-bottom: 40px;
    margin-bottom: 30px;
}

.single-page-bottom {
    margin-top: 20px;
}

.article-answer-title {
    font-size: 20px;
    color: #636b6f;
    font-family: Arial, 'Hiragino Sans GB', 冬青黑, 'Microsoft YaHei', 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, 'Arial sans-serif';
}

.vote {
    font-family: Arial, 'Hiragino Sans GB', 冬青黑, 'Microsoft YaHei', 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, 'Arial sans-serif';
}

.comment-title {
    color: #268bd2;
    font-size: 16px;
}

.padding-left-10 {
    padding-left: 20px;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #656c7a;
}

.comment-body {
    font-size: 15px;
}

.margin-right {
    margin-right: 20px;
}

textarea {
    font-size: 15px;
    color: #636b6f;
}

.well {
    background: #ecf0f1;
}

.reply-comment {
    font-size: 14px;
    color: #9d9d9d;
    padding-bottom: 0;
}

.edit-comment {
    font-size: 14px;
    color: #9d9d9d;
    padding-left: 5px;
}

.media-bottom {
    border-bottom: 1px solid #ecf0f1;
}

.commenttotal {
    padding-bottom: 10px;
    border-bottom: 1px solid #dddddd;
}

.commenttotal-title {
    font-size: 25px;
    padding-bottom: 10px;
}

.commenttotal-body {
    font-size: 20px;
    padding-bottom: 10px;
}

.commenttotal-time {
    font-size: 15px;
    color: darkgray;
}

article {
    border-top: none;
}

.love-flag {
    position: absolute;
    right: 10px;
    top: 30px;
    font-size: 20px;
}

.love-ul {
    position: absolute;
    right: 0;
    top: 65px;
    padding: 0;
    list-style: none;
    border: 1px solid #9d9d9d;
}

.love-ul li {
    padding: 0;
    background: #FAFAFA;
}

.love-ul li a:hover {
    background: #FF7F50;
    text-decoration: none;
    color: #fff;
}

.love-ul li a {
    display: block;
    padding: 2px 45px;
    font-size: 15px;
    text-align: center;
    color: #656c7a;
}

.notification {
    background: #fff;
}

.notification h1 {
    padding-bottom: 20px;
    border-bottom: 1px solid #dddddd;
    margin-bottom: 0;
}

.notification h1 a {
    font-size: 15px;
}

.notification-ul {
    list-style: none;
    padding-left: 0;
}

.notification-ul li:hover {
    background: #f5f8fa;
    cursor: pointer;
}

.notification-ul li:hover a {
    text-decoration: none;
}

.notification-media {
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #dddddd;
}

.myform-group {
    margin-bottom: 2em;
}

.paginate-links{
    overflow: hidden;
    text-align: center;
    list-style: none;
    height:auto;
    margin-bottom: 50px;
    margin-top: 20px;
}
.paginate-links li {
    display: block;
    float: left;
    border-radius: 50%;
    margin-left: 10px;
}
.paginate-links .active{
    background: #FF7F24;
    border: 1px solid #FF7F24;
}
.paginate-links .ellipses{
    border: none;
}
.paginate-links .active a{
    color: #fff;
}

.paginate-links li:hover a{
    text-decoration: none;
}
.paginate-links li a{
    padding: 10px 10px;
    font-size: 20px;
}